.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.TopicForm form {
  border: 1pt solid #62929E;
  border-radius: 10pt;
  padding: 1em;
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}